{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Edit Category</h1>
</div>
<a href="{% url 'dashboard:categories' %}">Go Back</a>
<br>
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" value="Submit" class="btn waves-effect waves-light btn-info hidden-md-down text-white">Submit</button>
        </form>
    </div>
</div>

{% endblock %}